/* Setting Up Consistent Styles */
:root {
    --pure-black: #000000;
    --black: #0D0D0D;
    --white: #FFFFFF;
    --grey: #737373;
    --light-grey: #D7D7D7;
    --red: #DB1324;
    --green: #08F9C2;
}

/* Basic CSS Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--black);
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white);
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Custom Scrollbar */
::-webkit-scrollbar-track {
    background-color: var(--pure-black);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--pure-black);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #0d0d0d, #414141, #7c7c7c, #bbbbbb, #ffffff);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Back To Top Button */
.back-to-top-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 90px;
    height: 90px;
}

.back-to-top-button a {
    cursor: pointer;
}

/* Visitor Notice */
.visitor-notice {
    display: flex;
    flex-direction: column;
    padding: 24px 52px 0;
    color: var(--white);
    text-align: left;
}

.visitor-notice h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

.visitor-notice h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
}

/* Top Bar / Header */
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 52px 52px 30px;
}

.top-bar-left-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
}

.top-bar-right-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    gap: 24px;
}

.top-bar-module {
    display: flex;
    flex-direction: column;
}

.top-bar-separator {
    content: "";
    display: block;
    width: 2px;
    height: 42px;
    background-color: var(--grey);
}

.top-bar h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    line-height: 90%;
}

.top-bar h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

.top-bar h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
}

/* Introduction Page */
.introduction-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 52px;
    margin-right: 52px;
    gap: 52px;
}

.introduction {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    max-height: 750px;
}

.introduction h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

.introduction h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: var(--white);
}

.star-system {
    width: 70%;
    display: block;
    position: relative;
    height: 100%;
    max-height: 750px;
    background-color: var(--grey);
}


/* Media Queries */
@media screen and (max-width: 1384px) {
    .top-bar-right-group {
        display: none;
    }
    .introduction-page {
        flex-direction: column;
    }
    .introduction {
        width: 100%;
    }
    .star-system {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .top-bar {
        padding: 24px 24px 12px;
    }
    .introduction-page {
        margin-left: 24px;
        margin-right: 24px;
    }
}