/* Setting Up Consistent Styles */
:root {
    --pure-black: #000000;
    --black: #0D0D0D;
    --white: #FFFFFF;
    --grey: #737373;
    --light-grey: #D7D7D7;
    --red: #DB1324;
    --green: #08F9C2;
}

/* Basic CSS Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--black);
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white);
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Custom Scrollbar */
::-webkit-scrollbar-track {
    background-color: var(--pure-black);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--pure-black);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
}

/* Back To Top Button */
.back-to-top-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 90px;
    height: 90px;
    z-index: 999;
}

.back-to-top-button a {
    cursor: pointer;
}

/* Visitor Notice */
.visitor-notice {
    display: flex;
    flex-direction: column;
    padding: 24px 52px 0;
    color: var(--white);
    text-align: left;
}

.visitor-notice h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

.visitor-notice h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
}

/* Top Bar / Header */
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 52px 52px 30px;
}

.top-bar-left-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
}

.top-bar-right-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    gap: 24px;
}

.top-bar-module {
    display: flex;
    flex-direction: column;
}

.top-bar-separator {
    content: "";
    display: block;
    width: 2px;
    height: 42px;
    background-color: var(--grey);
}

.top-bar h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    line-height: 90%;
}

.top-bar h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

.top-bar h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
}

/* Page Scrolling System */
.scroll-wrapper {
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll-section {
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
}

.scroll-indicator {
    position: fixed;
    top: 50%;
    right: 52px;
    transform: translateY(-50%);
    z-index: 999;
}

.scroll-indicator-item {
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.scroll-indicator-item:not(:last-child) {
    margin-bottom: 15px;
}

.scroll-indicator-item:hover,
.scroll-indicator-item-active {
    transform: scale(1.5);
}

/* Section Constants */
.section-container {
    height: 100%;
    padding: 52px 52px 30px;
}

.section-inner {
    display: flex;
    flex-direction: row;
}

.section-heading {
    display: flex;
    flex-direction: column;
}

.section-heading h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    line-height: 90%;
}

.section-heading h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

/* Index Section */
.temp {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    line-height: 28px;
}

/* About Me Section */
.section-profile {
    width: 25%;
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-profile img {
    width: 256px;
    height: 256px;
}

.section-profile h1 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
}

.section-profile h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

.profile-tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-tab {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.profile-tab h5 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: var(--white)
}

.section-hobbies-interests {
    width: 75%;
    padding: 52px;
    display: flex;
    flex-direction: column;
}

.section-hobbies-interests h1 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    line-height: 38px;
}

.section-hobbies-interests h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--grey);
}

.section-hobbies-interests-content {
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.hobbies-interests-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.hobbies-interests-tab-separator {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--white);
}

.hobbies-interests-tab i {
    font-size: 64px;
    border-radius: 50%;
    padding: 32px;
    border: var(--white) 3px solid;
    color: var(--white);
}

.hobbies-interests-tab h1 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white);
    line-height: 38px;
}

.hobbies-interests-tab p {
    font-size: 16px;
    color: var(--white);
}

/* Media Queries */
@media screen and (max-width: 1400px) {
    .ready-to-remove {
        display: none;
    }
    .top-bar {
        padding: 32px 32px 30px;
    }
    .scroll-indicator {
        right: 32px;
    }
    .section-container {
        padding: 32px 32px 30px;
    }
    .section-hobbies-interests-content {
        flex-direction: column;
    }
    .hobbies-interests-tab {
        flex-direction: row;
        gap: 32px;
    }
    .hobbies-interests-tab-separator {
        width: 100%;
        height: 2px;
    }
}

@media screen and (max-width: 1279px) {
    .top-bar-right-group {
        display: none;
    }
    .back-to-top-button {
        width: 72px;
        height: 72px;
    }
}

@media screen and (max-width: 1155px) {
    .hobby-description {
        display: none;
    }
    .hobbies-interests-tab-separator {
        display: none;
    }
    .section-hobbies-interests {
        width: 50%;
    }
    .section-profile {
        width: 50%;
    }
    .hobbies-interests-tab {
        text-align: left;
    }
}

@media screen and (max-width: 700px) {
    .section-hobbies-interests {
        display: none;
    }
    .section-profile {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .top-bar {
        padding: 24px 24px 12px;
    }
    .scroll-indicator {
        right: 24px;
    }
    .section-container {
        padding: 24px 24px 12px;
    }
    .top-bar h1 {
        font-size: 32px;
    }
    .section-heading h1 {
        font-size: 32px;
    }
    .temp {
        text-align: left;
        font-size: 90%;
        padding: 24px;
    }
}

@media (max-width: 340px) or (max-height: 745px) {
    .back-to-top-button {
        width: 0;
        height: 0;
    }
    .section-heading h1 {
        font-size: 24px;
    }
    .scroll-section {
        overflow: hidden;
        height: auto;
    }
    .scroll-indicator {
        display: none;
    }
    .scroll-wrapper {
        scroll-snap-type: none;
        scroll-behavior: unset;
    }
}